<div class="recipe-layout">

    <a class="add-button" routerLink="/recipes/new">
        ➕ Thêm công thức
    </a>

    <div class="search-group">
        <label for="search-recipe">
            Tìm kiếm món ăn
        </label>

        <input id="search-recipe" type="text" placeholder="Ví dụ: Pizza..." [ngModel]="searchText()"
            (ngModelChange)="searchText.set($event)">
    </div>

    <div class="sort-buttons">
        <button (click)="setSort('asc')">
            ↑ Giá tăng dần
        </button>

        <button (click)="setSort('desc')">
            ↓ Giá giảm dần
        </button>
    </div>

    @if (isSearching()) {
    <p class="result-count">
        Tìm thấy {{ resultCount() }} món
    </p>
    }

    <ul class="picker-buttons">

        @for (recipe of sortedRecipes(); track recipe.id) {

        <li class="recipe-item">

            <a class="recipe-button" [routerLink]="['/recipes', recipe.id]">

                {{ recipe.name }}

                @if (recipe.id === recipeDatNhat().id) {
                <span class="diamond">💎</span>
                }

            </a>

            <span class="favorite-star" (click)="recipeService.toggleFavorite(recipe.id); $event.stopPropagation()">

                {{ recipe.isFavorite ? '⭐' : '☆' }}

            </span>

        </li>

        } @empty {

        <li class="empty-message">
            Không tìm thấy món nào.
        </li>

        }

    </ul>

</div>