<div class="top-actions">

    <a mat-filled-button class="add-button" routerLink="/recipes/new">

        <mat-icon>add</mat-icon>

        Thêm công thức

    </a>

    <div class="search-group">

        <mat-form-field appearance="outline">

            <mat-label>Tìm món ăn</mat-label>

            <input matInput type="search" [ngModel]="searchText()" (ngModelChange)="searchText.set($event)">

            <mat-icon matSuffix>
                search
            </mat-icon>

        </mat-form-field>

    </div>

</div>

<div class="sort-buttons">

    <button mat-stroked-button (click)="setSort('asc')">
        ↑ Giá tăng
    </button>

    <button mat-stroked-button (click)="setSort('desc')">
        ↓ Giá giảm
    </button>

</div>

@if (isSearching()) {

<p class="result-count">
    Tìm thấy {{ resultCount() }} món
</p>

}

<mat-nav-list class="recipe-list">

    @for (recipe of sortedRecipes(); track recipe.id) {

    @if (recipe.videoUrl) {

    <a mat-list-item [href]="recipe.videoUrl" target="_blank">

        <span matListItemTitle>

            {{ recipe.name }}

            @if (recipe.id === recipeDatNhat().id) {
            💎
            }

        </span>

        <button mat-icon-button matListItemMeta (click)="toggleFavorite(recipe, $event)">

            <mat-icon>
                {{ recipe.isFavorite ? 'star' : 'star_border' }}
            </mat-icon>

        </button>

    </a>

    } @else {

    <a mat-list-item [routerLink]="['/recipes', recipe.id]">

        <span matListItemTitle>

            {{ recipe.name }}

            @if (recipe.id === recipeDatNhat().id) {
            💎
            }

        </span>

        <button mat-icon-button matListItemMeta (click)="toggleFavorite(recipe, $event)">

            <mat-icon>
                {{ recipe.isFavorite ? 'star' : 'star_border' }}
            </mat-icon>

        </button>

    </a>

    }

    }

</mat-nav-list>