<mat-nav-list class="recipe-list">

    @for (recipe of sortedRecipes(); track recipe.id) {

    @if (recipe.videoUrl) {

    <a mat-list-item [href]="recipe.videoUrl" target="_blank">

        <span matListItemTitle>

            {{ recipe.name }}

            @if (recipe.id === recipeDatNhat().id) {
            💎
            }

        </span>

        <button mat-icon-button matListItemMeta (click)="toggleFavorite(recipe, $event)">

            <mat-icon>
                {{ recipe.isFavorite ? 'star' : 'star_border' }}
            </mat-icon>

        </button>

    </a>

    } @else {

    <a mat-list-item [routerLink]="['/recipes', recipe.id]">

        <span matListItemTitle>

            {{ recipe.name }}

            @if (recipe.id === recipeDatNhat().id) {
            💎
            }

        </span>

        <button mat-icon-button matListItemMeta (click)="toggleFavorite(recipe, $event)">

            <mat-icon>
                {{ recipe.isFavorite ? 'star' : 'star_border' }}
            </mat-icon>

        </button>

    </a>

    }

    }

</mat-nav-list>