mat-dialog-content {
    color: var(--mat-sys-on-surface-variant);

    min-width: 320px;
}

.confirm-btn {
    background: var(--mat-sys-error) !important;
    color: var(--mat-sys-on-error) !important;
}
