mat-toolbar {

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 14px;

    height: 72px;

    box-shadow: 0 2px 10px rgba(0, 0, 0, .12);
}

.app-logo {

    width: 42px;

    height: 42px;

    object-fit: contain;
}

.app-title {

    font-size: 30px;

    font-weight: 700;

    letter-spacing: .5px;
}